<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>FideFlights</title>        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <div class="grid-container">
            <div class="grid-item ">
                <p
                    style="color: black; font-weight: bold; font-size: 25px; background-color: #F2A007; margin-top: 0; text-align: center; border: 1px solid black">
                    Cartagena</p>
                <iframe
                    src="https://www.youtube.com/embed/L34H6ycGMkY?si=Elj2vbbWU3703buC"
                    width="420" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0" class="d-block mx-auto"></iframe>
            </div>

            <div class="grid-item ">
                <p
                    style="color: black; font-weight: bold; font-size: 25px; background-color: #F2A007; margin-top: 0; text-align: center; border: 1px solid black">
                    Argentina</p>
                <iframe
                    src="https://www.youtube.com/embed/AxR-wrIOoQw?si=WtF8QfVL_WXwEW-P"
                    width="420" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0" class="d-block mx-auto"></iframe>
            </div>

            <div class="grid-item">
                <p
                    style="color: black; font-weight: bold; font-size: 25px; background-color: #F2A007; margin-top: 0; text-align: center; border: 1px solid black">
                    Irlanda</p>
                <iframe
                    src="https://www.youtube.com/embed/SZ2mSFZyRcY?si=G1u79UcYEUzMekuG"
                    width="420" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0" class="d-block mx-auto"></iframe>

            </div>
        </div>

        <style>
            .grid-container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 10px;
                padding: 82px;
            }

            .grid-item {
                padding: 10px;
                text-align: center;
            }

            .grid-item .row1 {
                padding: 10px;
                text-align: center;
                border: 1px solid black;
            }
        </style>

        <footer th:replace="~{layout/plantilla :: footer}"/>          
    </body>
</html>