<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>FideFlights</title>        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        
        <section>

            <p
                style="color: white; font-weight: bold; font-size: 25px; background-color: #2069AD; margin-top: 0; text-align: center; border-bottom: 1px solid black">
                <i class="fa-solid fa-briefcase fa-beat fa-sm" style="color: #ffffff;"></i> ¡Bienvenido!
            </p>

            <h2>Sobre nosotros</h2>
            <p>Somos un grupo dinámico con gran experiencia en el mercado del desarrollo de software empresarial
                aplicables al ámbito del ERP
                en áreas como Ruteo y Distribución, Financiero Contable, Importaciones, Manufactura y más..</p>

            <p2>Con EXCALIBUR-TECH, usted como empresario, desde cualquier rincón del mundo podrá ver el tiempo real, el
                comportamiento de
                su compañía, a tan solo un click de su mano.</p2>

        </section>
        <footer th:replace="~{layout/plantilla :: footer}"/>          
    </body>
</html>